In [1]:
import pandas as pd

In [2]:
info = pd.read_csv("data/inverse/info.csv", parse_dates = ["date"])
ccba = pd.read_csv("data/inverse/ccba.csv", parse_dates = ["byymm"])
cdtx = pd.read_csv("data/inverse/cdtx.csv", parse_dates = ["date"])
dp = pd.read_csv("data/inverse/dp.csv", parse_dates = ["tx_time"])
remit = pd.read_csv("data/inverse/remit.csv", parse_dates = ["trans_date"])

In [3]:
info = info.sort_values(["date", "sar_flag"])

ccba = ccba.rename(columns = {"byymm": "date"})
dp = dp.rename(columns = {"tx_time": "date"})
remit = remit.rename(columns = {"trans_date": "date"})

In [4]:
datas = [info, ccba, cdtx, dp, remit]
id_map = {v: i for i, v in enumerate(info["cust_id"].drop_duplicates())}
for data in datas:
    data["cust_id"] = data["cust_id"].map(id_map)

## custinfo

In [5]:
info.head()

,sample,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE
0,train,171142,2021-04-01,0.0,0,3,12.0,241719.0,3
1,train,171152,2021-04-01,0.0,1,3,13.0,599497.0,6
2,train,171177,2021-04-01,0.0,2,1,19.0,51160.0,4
3,train,171178,2021-04-01,0.0,3,3,9.0,3634343.0,6
4,train,171180,2021-04-01,0.0,4,1,17.0,4076287.0,4

In [ ]:
g = info.groupby("cust_id")
groups = g.size().index
for group in groups:
    group = 3
    info1 = g.get_group(group).copy()

    flag = 0
    prev = 0
    count = 0
    info1["info_ct"] = None
    info1["start_date"] = None
    for i in range(len(info1)):
        if info1.iloc[i, 3] == 1:
            count += 1
            info1.iloc[i, -2] = count
            info1.iloc[i, -1] = info1.iloc[prev, 2]

            prev = i
            flag = 1
        
        # elif pd.isna(info1.iloc[i, 3]):
    
    break

In [ ]:
info1

In [ ]:
id1 = info.query("sar_flag == 1")["cust_id"]
info.query("cust_id in @id1")["cust_id"].value_counts()

In [6]:
df = pd.read_csv("data/inverse/FG.csv", parse_dates = ["date"])

In [7]:
df.columns.to_list()

['sample',
 'alert_key',
 'date',
 'sar_flag',
 'cust_id',
 'risk_rank',
 'occupation_code',
 'total_asset',
 'AGE',
 'total_asset_pct',
 'info_ct',
 'usgam_lupay',
 'usgam_cycam',
 'clamt_cycam',
 'csamt_cycam',
 'inamt_cycam',
 'cucsm_cycam',
 'cucah_cycam',
 'cucah_csamt',
 'cucah_csamt1',
 'cdtx_sum_csamt',
 'cdtx_min_csamt',
 'cdtx_max_csamt',
 'usgam_asset',
 'cdtx_ct_all',
 'country_ct_all',
 'cur_type_ct_all',
 'inter_ct_all',
 'inter_cur_ct_all',
 'cdtx_min_all',
 'cdtx_max_all',
 'cdtx_mean_all',
 'cdtx_median_all',
 'cdtx_sum_all',
 'cdtx_ct_1w',
 'country_ct_1w',
 'cur_type_ct_1w',
 'inter_ct_1w',
 'inter_cur_ct_1w',
 'cdtx_min_1w',
 'cdtx_max_1w',
 'cdtx_mean_1w',
 'cdtx_median_1w',
 'cdtx_sum_1w',
 'cdtx_ct_2w',
 'country_ct_2w',
 'cur_type_ct_2w',
 'inter_ct_2w',
 'inter_cur_ct_2w',
 'cdtx_min_2w',
 'cdtx_max_2w',
 'cdtx_mean_2w',
 'cdtx_median_2w',
 'cdtx_sum_2w',
 'cdtx_ct_1m',
 'country_ct_1m',
 'cur_type_ct_1m',
 'inter_ct_1m',
 'inter_cur_ct_1m',
 'cdtx_min_1m',
 'cdtx_max_1m',
 'cdtx_mean_1m',
 'cdtx_median_1m',
 'cdtx_sum_1m',
 'remit_ct_all',
 'trans_no_ct_all',
 'remit_min_all',
 'remit_max_all',
 'remit_mean_all',
 'remit_median_all',
 'remit_sum_all',
 'remit_max_median_all',
 'remit_ct_1w',
 'trans_no_ct_1w',
 'remit_min_1w',
 'remit_max_1w',
 'remit_mean_1w',
 'remit_median_1w',
 'remit_sum_1w',
 'remit_max_median_1w',
 'remit_ct_2w',
 'trans_no_ct_2w',
 'remit_min_2w',
 'remit_max_2w',
 'remit_mean_2w',
 'remit_median_2w',
 'remit_sum_2w',
 'remit_max_median_2w',
 'remit_ct_1m',
 'trans_no_ct_1m',
 'remit_min_1m',
 'remit_max_1m',
 'remit_mean_1m',
 'remit_median_1m',
 'remit_sum_1m',
 'remit_max_median_1m',
 'dp_ct_all',
 'asset_code_ct_all',
 'fiscTxId_ct_all',
 'txbranch_ct_all',
 'cross_bank_ct_all',
 'atm_ct_all',
 'db_atm_ct_all',
 'tx_asset_code_all',
 'dp_net_all',
 'dp_db_ct_all',
 'dp_db_min_all',
 'dp_db_max_all',
 'dp_db_mean_all',
 'dp_db_median_all',
 'dp_db_sum_all',
 'dp_db_max_median_all',
 'dp_cr_ct_all',
 'dp_cr_min_all',
 'dp_cr_max_all',
 'dp_cr_mean_all',
 'dp_cr_median_all',
 'dp_cr_sum_all',
 'dp_cr_min_median_all',
 'dp_ct_1w',
 'asset_code_ct_1w',
 'fiscTxId_ct_1w',
 'txbranch_ct_1w',
 'cross_bank_ct_1w',
 'atm_ct_1w',
 'db_atm_ct_1w',
 'tx_asset_code_1w',
 'dp_net_1w',
 'dp_db_ct_1w',
 'dp_db_min_1w',
 'dp_db_max_1w',
 'dp_db_mean_1w',
 'dp_db_median_1w',
 'dp_db_sum_1w',
 'dp_db_max_median_1w',
 'dp_cr_ct_1w',
 'dp_cr_min_1w',
 'dp_cr_max_1w',
 'dp_cr_mean_1w',
 'dp_cr_median_1w',
 'dp_cr_sum_1w',
 'dp_cr_min_median_1w',
 'dp_ct_2w',
 'asset_code_ct_2w',
 'fiscTxId_ct_2w',
 'txbranch_ct_2w',
 'cross_bank_ct_2w',
 'atm_ct_2w',
 'db_atm_ct_2w',
 'tx_asset_code_2w',
 'dp_net_2w',
 'dp_db_ct_2w',
 'dp_db_min_2w',
 'dp_db_max_2w',
 'dp_db_mean_2w',
 'dp_db_median_2w',
 'dp_db_sum_2w',
 'dp_db_max_median_2w',
 'dp_cr_ct_2w',
 'dp_cr_min_2w',
 'dp_cr_max_2w',
 'dp_cr_mean_2w',
 'dp_cr_median_2w',
 'dp_cr_sum_2w',
 'dp_cr_min_median_2w',
 'dp_ct_1m',
 'asset_code_ct_1m',
 'fiscTxId_ct_1m',
 'txbranch_ct_1m',
 'cross_bank_ct_1m',
 'atm_ct_1m',
 'db_atm_ct_1m',
 'tx_asset_code_1m',
 'dp_net_1m',
 'dp_db_ct_1m',
 'dp_db_min_1m',
 'dp_db_max_1m',
 'dp_db_mean_1m',
 'dp_db_median_1m',
 'dp_db_sum_1m',
 'dp_db_max_median_1m',
 'dp_cr_ct_1m',
 'dp_cr_min_1m',
 'dp_cr_max_1m',
 'dp_cr_mean_1m',
 'dp_cr_median_1m',
 'dp_cr_sum_1m',
 'dp_cr_min_median_1m',
 'period']