In [13]:
import pandas as pd

In [14]:
info = pd.read_csv("data/inverse/info.csv", parse_dates = ["date"])
ccba = pd.read_csv("data/inverse/ccba.csv", parse_dates = ["byymm"])
cdtx = pd.read_csv("data/inverse/cdtx.csv", parse_dates = ["date"])
dp = pd.read_csv("data/inverse/dp.csv", parse_dates = ["tx_time"])
remit = pd.read_csv("data/inverse/remit.csv", parse_dates = ["trans_date"])

In [15]:
info = info.sort_values(["date", "sar_flag"])

ccba = ccba.rename(columns = {"byymm": "date"})
dp = dp.rename(columns = {"tx_time": "date"})
remit = remit.rename(columns = {"trans_date": "date"})

In [16]:
datas = [info, ccba, cdtx, dp, remit]
id_map = {v: i for i, v in enumerate(info["cust_id"].drop_duplicates())}
for data in datas:
    data["cust_id"] = data["cust_id"].map(id_map)

## custinfo

In [18]:
info.head()

,sample,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE
0,train,171142,2021-04-01,0.0,0,3,12.0,241719.0,3
1,train,171152,2021-04-01,0.0,1,3,13.0,599497.0,6
2,train,171177,2021-04-01,0.0,2,1,19.0,51160.0,4
3,train,171178,2021-04-01,0.0,3,3,9.0,3634343.0,6
4,train,171180,2021-04-01,0.0,4,1,17.0,4076287.0,4

In [ ]:
g = info.groupby("cust_id")
groups = g.size().index
for group in groups:
    group = 3
    info1 = g.get_group(group).copy()

    flag = 0
    prev = 0
    count = 0
    info1["info_ct"] = None
    info1["start_date"] = None
    for i in range(len(info1)):
        if info1.iloc[i, 3] == 1:
            count += 1
            info1.iloc[i, -2] = count
            info1.iloc[i, -1] = info1.iloc[prev, 2]
        
        # elif pd.isna(info1.iloc[i, 3]):
    
    break

In [ ]:
info1

In [ ]:
id1 = info.query("sar_flag == 1")["cust_id"]
info.query("cust_id in @id1")["cust_id"].value_counts()

In [ ]:
df = pd.read_csv("data/inverse/FG.csv", parse_dates = ["date"])

In [ ]:
df.columns.to_list()