In [2]:
import pandas as pd

In [3]:
info = pd.read_csv("data/inverse/info.csv", parse_dates = ["date"])
ccba = pd.read_csv("data/inverse/ccba.csv", parse_dates = ["byymm"])
cdtx = pd.read_csv("data/inverse/cdtx.csv", parse_dates = ["date"])
dp = pd.read_csv("data/inverse/dp.csv", parse_dates = ["tx_time"])
remit = pd.read_csv("data/inverse/remit.csv", parse_dates = ["trans_date"])

In [3]:
info = info.sort_values(["date", "sar_flag"])

ccba = ccba.rename(columns = {"byymm": "date"})
dp = dp.rename(columns = {"tx_time": "date"})
remit = remit.rename(columns = {"trans_date": "date"})

In [4]:
datas = [info, ccba, cdtx, dp, remit]
id_map = {v: i for i, v in enumerate(info["cust_id"].drop_duplicates())}
for data in datas:
    data["cust_id"] = data["cust_id"].map(id_map)

## custinfo

In [39]:
g = info.groupby("cust_id")
groups = g.size().index
for group in groups:
    group = 3
    info1 = g.get_group(group).copy()

    flag = 0
    prev = 0
    count = 0
    info1["info_ct"] = None
    info1["start_date"] = None
    for i in range(len(info1)):
        if info1.iloc[i, 3] == 1:
            count += 1
            info1.iloc[i, -2] = count
            info1.iloc[i, -1] = info1.iloc[prev, 2]
        
        elif pd.isna(info1.iloc[i, 3]):

    break

In [40]:
info1

,sample,alert_key,date,sar_flag,cust_id,risk_rank,occupation_code,total_asset,AGE,info_ct,start_date
3,train,171178,2021-04-01,0.0,3,3,9.0,3634343.0,6,None,None
95,train,171994,2021-04-06,0.0,3,3,9.0,3634343.0,6,None,None
437,train,174318,2021-04-08,0.0,3,3,9.0,3634343.0,6,None,None
2281,train,181085,2021-04-19,0.0,3,3,9.0,3634343.0,6,None,None
2568,train,182931,2021-04-22,0.0,3,3,9.0,3634343.0,6,None,None
2621,train,183362,2021-04-23,0.0,3,3,9.0,3634343.0,6,None,None
3305,train,188108,2021-05-05,0.0,3,3,9.0,2511627.0,6,None,None
4687,train,198549,2021-05-31,0.0,3,3,9.0,2505336.0,6,None,None
5154,train,202137,2021-06-09,0.0,3,3,9.0,2505336.0,6,None,None
5828,train,207436,2021-06-23,0.0,3,3,9.0,2505336.0,6,None,None
7664,train,222820,2021-07-27,0.0,3,3,9.0,5932744.0,6,None,None
7962,train,225248,2021-08-03,0.0,3,3,9.0,579326.0,6,None,None
8029,train,225835,2021-08-04,0.0,3,3,9.0,579326.0,6,None,None
8249,train,227850,2021-08-06,0.0,3,3,9.0,579326.0,6,None,None
8351,train,228708,2021-08-09,0.0,3,3,9.0,579326.0,6,None,None
8536,train,230032,2021-08-11,0.0,3,3,9.0,579326.0,6,None,None
9180,train,235668,2021-08-24,0.0,3,3,9.0,579326.0,6,None,None
9440,train,237818,2021-08-27,0.0,3,3,9.0,579326.0,6,None,None
9820,train,241309,2021-09-03,0.0,3,3,9.0,500805.0,6,None,None
10187,train,244564,2021-09-10,0.0,3,3,9.0,500805.0,6,None,None
10388,train,246292,2021-09-14,0.0,3,3,9.0,500805.0,6,None,None
10440,train,246741,2021-09-15,0.0,3,3,9.0,500805.0,6,None,None
10542,train,247590,2021-09-16,0.0,3,3,9.0,500805.0,6,None,None
10718,train,249072,2021-09-22,0.0,3,3,9.0,500805.0,6,None,None
19576,train,318579,2022-01-26,0.0,3,3,9.0,9532402.0,6,None,None
20714,train,326552,2022-02-16,0.0,3,3,9.0,6542047.0,6,None,None
20970,train,328263,2022-02-18,0.0,3,3,9.0,6542047.0,6,None,None
21095,train,329134,2022-02-22,0.0,3,3,9.0,6542047.0,6,None,None
21261,train,330232,2022-02-24,0.0,3,3,9.0,6542047.0,6,None,None
21970,train,337337,2022-03-04,0.0,3,3,9.0,5583862.0,6,None,None
22094,train,338253,2022-03-08,0.0,3,3,9.0,5583862.0,6,None,None
23835,train,351561,2022-03-31,0.0,3,3,9.0,553993.0,6,None,None
24677,train,357658,2022-04-06,0.0,3,3,9.0,553993.0,6,None,None
24093,train,354015,2022-04-08,0.0,3,3,9.0,553993.0,6,None,None
24761,train,358197,2022-04-18,0.0,3,3,9.0,553993.0,6,None,None
25160,train,360812,2022-04-25,0.0,3,3,9.0,553993.0,6,None,None
25291,train,361685,2022-04-26,0.0,3,3,9.0,553993.0,6,None,None
26926,test,372222,2022-05-17,NaN,3,3,9.0,1695797.0,6,None,None

In [29]:
id1 = info.query("sar_flag == 1")["cust_id"]
info.query("cust_id in @id1")["cust_id"].value_counts()

3307    73
2638    64
100     45
111     44
3799    37
        ..
3039     1
3040     1
3041     1
3065     1
7683     1
Name: cust_id, Length: 242, dtype: int64

In [ ]:
df = pd.read_csv("data/inverse/FG.csv", parse_dates = ["date"])

In [ ]:
df.columns.to_list()