ccba
* 已使用額度 / 信用額度
* 已使用額度 / 上月繳款總額
* 本月借現金額 - 本月預借現金額 = 本月信用卡相關借現金額

cdtx  
* 近幾筆交易跨了多少個國家
* 近幾筆交易跨了多少種幣別
* 是否包含境外交易(交易幣別為台幣)
* 境外交易次數(交易幣別為台幣)
* new 頻率: 總交易次數
* 一小時的最大交易次數
* 最大交易金額 / 中位數

cdtx & ccba
* 最大交易金額 佔 本月信用卡相關借現金額 之比例
* 總交易金額 佔 本月信用卡相關借現金額 之比例

custinfo
* 行內總資產變化
* 已使用額度 / 行內總資產

dp
* 交易金額 * 匯率
* 總交易次數
* 實體ATM交易次數
* 跨行交易次數
* 近幾筆交易跨了多少個銀行
* 借方 且為 實體ATM交易 的次數
* 貸方 最大交易金額 / 中位數
* 貸方 最大交易金額 為 中位數 的兩倍時，是否為跨行交易
* 臨櫃現金交易次數

remit
* 近幾日有多少筆交易
* 近幾日有多少種交易方式
* 最後一筆交易金額 / 同職業交易金額中位數

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/submit/1216_3.csv")
df.head(10)

   alert_key  probability
0     355724     1.000000
1     358453     1.000000
2     361617     1.000000
3     359668     1.000000
4     354939     1.000000
5     363320     1.000000
6     363896     1.000000
7     355152     1.000000
8     355091     1.000000
9     358464     0.072562

In [3]:
start = 13
end = 14

In [4]:
move = df.iloc[start:end].copy()
move["probability"] = 1
move

    alert_key  probability
13     356602            1

In [5]:
df = df.drop(list(range(start, end)))

In [6]:
df = pd.concat([move, df], ignore_index = True)

In [7]:
df.iloc[10:, -1] = 0
df.head(10)

   alert_key  probability
0     356602          1.0
1     355724          1.0
2     358453          1.0
3     361617          1.0
4     359668          1.0
5     354939          1.0
6     363320          1.0
7     363896          1.0
8     355152          1.0
9     355091          1.0

In [8]:
df.to_csv("data/submit/1217_1.csv", index = False)

In [9]:
# sar: 10 len: 14 index: 13

In [10]:
10/14

0.7142857142857143